body {
    background-color: rgb(21 59 80);
		color: rgb(21,59,80);
		font-family:papyrus;
		font-weight: bold;}
#grad{
	 background-image: linear-gradient(rgb(21 59 80),rgb(115, 145, 200))
}

#photo{
	border-radius: 2%; box-shadow: 5px 5px 5px rgb(0,0,0); 
}

.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.textes{
width: 700px;margin: 0px auto; margin-top: 60px; text-align: center;
}

.btn-pink{
	background: rgb(21 59 80);
    color: white;
    padding: 15px 15px;
    border-radius: 4px;
    margin: 10px 0px
}

h1{font-size: 70px;font-weight: 15;text-align: center; font-weight: bold;}

h2{ font-size:30px }

h3{font-size: 30px}

h4{font-size: 20px}

h5{font-weight: bold;font-size: 20px}


a{
text-decoration: none;color:rgb(21,59,97); text-align: left;}
a:hover{
color: rgb(129, 255, 3);background-color: rgb(109, 140, 189);
}


@media (max-width: 700px) {
	.textes{
		width: 600px
	}
}
 
@media (max-width: 600px) {
	.textes{
		width: 400px
	}
}
 
